{{ define "main" }}
<div class="sidebar">
  <div class="sidebar__section">
    <h3 class="sidebar__title">文章分類</h3>
    <ul class="sidebar__list">
      {{ range .Site.Sections }}
        {{ if eq .Section "articles" }}
          {{ range .Sections }}
            <li class="sidebar__item">
              <a href="{{ .RelPermalink }}" class="sidebar__link{{ if eq .RelPermalink $.RelPermalink }} sidebar__link--active{{ end }}">{{ .Title | replace " - 霍爾果斯會計師事務所" "" }}</a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}

