{{ if .Site.Params.disqusShortname }}
<section class="comments-section" aria-label="留言討論">
  <h3>留言討論</h3>
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = {{ .Permalink }};
      this.page.identifier = {{ .File.UniqueID }};
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ .Site.Params.disqusShortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>請啟用 JavaScript 以查看 <a href="https://disqus.com/?ref_noscript">Disqus 提供的評論功能</a></noscript>
</section>
{{ end }}

