---
layout: layouts/base.njk
---
<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
  <div class="col-span-2">
    <h1>{{ title }}</h1>
    <iframe class="w-full h-64 rounded-lg mb-4" src="{{ url }}" frameborder="0" allowfullscreen></iframe>
    <p>{{ description }}</p>
    <a href="/booking" class="cta-button mt-4 inline-block">預約諮詢</a>
  </div>
  {% include "partials/sidebar.njk" %}
</div>
