---
pagination:
  data: articles
  size: 1
  alias: article
permalink: "/{{ article.slug }}/"
layout: layouts/article.njk
eleventyComputed:
  title: "{{ article.title }}"
  date: "{{ article.date }}"
  category: "{{ article.category }}"
  prev_article: "{{ article.prev_article }}"
  next_article: "{{ article.next_article }}"
---

{# ▼▼▼ 使用我們新的 markdownify 過濾器 ▼▼▼ #}
{{ article.body_markdown | markdownify | safe }}