{{/*
  側邊欄 partial 用於文章、常見問題、影音、下載列表頁。
  顯示熱門項目、系列與關鍵字。
*/}}
<div class="sidebar-block">
  <h3>熱門</h3>
  <ul class="sidebar-list">
    {{/* 取最新 5 篇同一 Section 內容作為熱門推薦 */}}
    {{ $pages := where .Site.RegularPages "Section" .Section }}
    {{ range first 5 ($pages.ByDate.Reverse) }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
</div>
<div class="sidebar-block">
  <h3>系列</h3>
  <ul class="sidebar-list">
    {{/* 僅列出屬於當前 Section 的系列，並連結到該 Section 的列表頁並帶上 series 參數 */}}
    {{ $currentSection := .Section }}
    {{ range $seriesName, $pages := .Site.Taxonomies.series }}
      {{ $sectionPages := where $pages "Section" $currentSection }}
      {{ if gt (len $sectionPages) 0 }}
        <li><a href="{{ (print "/" $currentSection "?series=" $seriesName) | relURL }}">{{ $seriesName }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
</div>
<div class="sidebar-block">
  <h3>關鍵字</h3>
  <ul class="sidebar-list">
    {{/* 僅列出當前 Section 有使用的標籤 */}}
    {{ $currentSection := .Section }}
    {{ range $tagName, $tagPages := .Site.Taxonomies.tags }}
      {{ $sectionTagPages := where $tagPages "Section" $currentSection }}
      {{ if gt (len $sectionTagPages) 0 }}
        <li><a href="{{ (print "/" $currentSection "?tag=" $tagName) | relURL }}">{{ $tagName }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
</div>