{{/* 
  Responsive Image Shortcode
  
  Usage:
  {{< responsive-image src="path/to/image.webp" alt="Alt text" class="optional-class" >}}
  
  Parameters:
  - src: The source path to the image (required)
  - alt: The alt text for the image (required)
  - class: Additional CSS classes (optional)
  - lazy: Whether to use lazy loading, default is true (optional)
*/}}

{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $class := .Get "class" }}
{{ $lazy := default "true" (.Get "lazy") }}

{{ $desktop := replace $src ".webp" "-desktop.webp" }}
{{ $tablet := replace $src ".webp" "-tablet.webp" }}
{{ $mobile := replace $src ".webp" "-mobile.webp" }}

{{ $desktopExists := fileExists (printf "static%s" $desktop) }}
{{ $tabletExists := fileExists (printf "static%s" $tablet) }}
{{ $mobileExists := fileExists (printf "static%s" $mobile) }}

<picture class="responsive-image {{ $class }}">
  {{ if $desktopExists }}
  <source media="(min-width: 1025px)" srcset="{{ $desktop }}">
  {{ end }}
  
  {{ if $tabletExists }}
  <source media="(min-width: 641px)" srcset="{{ $tablet }}">
  {{ end }}
  
  {{ if $mobileExists }}
  <source media="(max-width: 640px)" srcset="{{ $mobile }}">
  {{ end }}
  
  {{ if eq $lazy "true" }}
  <img src="{{ $src }}" alt="{{ $alt }}" loading="lazy" class="lazy-image">
  {{ else }}
  <img src="{{ $src }}" alt="{{ $alt }}">
  {{ end }}
</picture>