{% if pagination %}
  <div class="pagination">
    {% if pagination.previous %}
      <a href="{{ pagination.previous }}" class="pagination-button">上一頁</a>
    {% else %}
      <span class="pagination-button" disabled>上一頁</span>
    {% endif %}
    {% for page in pagination.pages %}
      <a href="{{ page.url }}" class="pagination-button {% if page.url == pagination.current %}bg-yellow-600{% else %}bg-blue-900{% endif %}">{{ page.number }}</a>
    {% endfor %}
    {% if pagination.next %}
      <a href="{{ pagination.next }}" class="pagination-button">下一頁</a>
    {% else %}
      <span class="pagination-button" disabled>下一頁</span>
    {% endif %}
  </div>
{% endif %}
